<p id="notice"><%= notice %></p>

<p>
  <strong>Account name:</strong>
  <%= @account.account_name %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @account.account_number %>
</p>

<p>
  <strong>Sru:</strong>
  <%= @account.sru %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
